[include]
    path = .gitconfig_private

[color]
    ui = always

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    ap = add --patch
    st = status -sb
    co = checkout
    cm = commit
    br = branch
    mr = merge
    sb = show-branch
    l = log --oneline --decorate
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    df = diff
    dc = diff --cached
    rb = rebase
    fe = fetch
    fo = fetch origin
    subs = submodule foreach git
    sub = submodule
    rinfo = remote show origin
    stash-unapply = !git stash show -p --no-color | git apply -R
    deleted = "!git ls-files --deleted | while read l; do git rm "$l"; done;"

[init]
    templatedir = ~/.git_template

[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    chainreplyto = false
    signoffbycc = false
    supresscc = all
    suppressfrom = true
    confirm = always

[push]
    default = upstream

[branch]
    autosetupmerge = true
    autosetuprebase = always

[merge]
    stat = true

[rerere]
    enabled = true
