$if mode=emacs

# enable history searching
"\e[A":history-search-backward
"\e[B":history-search-forward

$endif

"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

# ctrl home/end
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# possible completions with single tab
set show-all-if-ambiguous on
